:root {
  --primary-color: #0d3b66;
  --secondary-color: #4fb3bf;
  --tertiary-color: #ffc857;
  --bg-color1: #e0f2f1;
  --bg-color2: #b2dfdb;
  --font-family: 'Lato', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color1);
}

h1 {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 2rem;
  border: solid;
  border-radius: 15%;
  background-color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 25px;
  margin: 0 10px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: var(--secondary-color);
  color: #faf0ca;
  cursor: pointer;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color2);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
 .button-container {
  /* display: flex;
  justify-content: center; */
  padding: 5px ;
} 

.box {
  padding: 10px;
  width: 25%;
  flex-basis: 25%;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
}

.box img {
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.box .overlay {
  width: 100%;
  max-height: 100%;
  min-height: auto;
  position: absolute;
  bottom: -100%;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  left: 0;
  transition: 0.5s;
  background-color: var(--primary-color);
  color: #ffffff;
  }
  
  .box span {
  color: var(--tertiary-color);
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  }
  
  .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  }
  
  .box:hover .overlay {
  bottom: 0%;
  }
  
  .overlay h2 {
  margin-bottom: 10px;
  }
  
  #search {
  width: 500px;
  padding: 5px 30px;
  background-color: var(--primary-color); 
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px var(--tertiary-color);
  color: #fff;
  margin-top: 10px;
  font-size: 30px;
  border-radius: 25px;
  transition: 1s;
  margin-bottom: 15px;
  }
  
  #search:focus {
  background-color: var(--secondary-color);
  color: #faf0ca;
  }