:root {
  --primary-color: #1B4367;
  --secondary-color: #3F7E9C;
  --tertiary-color: #F2C057;
  --bg-color1: #E0F2F1;
  --bg-color2: #B2DFDB;
  --text-color: #fff;
  --focus-color: #faf0ca;
  --font-family: 'Lato', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color2);
  margin: 5px;
}

.welcome-screen {
  background-image: url('/public/images/bg-image.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 60px;
  color: var(--text-color);
  margin: 1rem;
  border: solid;
  border-radius: 15%;
  background-color: var(--primary-color);
}

#enter-button {
  background-color: var(--text-color);
  color: var(--primary-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50px;
  transition: background-color 0.5s, transform 0.2s ease-out;
}

#enter-button:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transform: scale(1.05);
}

.footer {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
}

.footer span {
  font-size: 1rem;
  background-color: var(--primary-color);
  border-radius: 40%;
  color:var(--text-color);
  display: inline-block;
  padding: 0.5rem;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 25px;
  margin: 0 10px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--focus-color);
  cursor: pointer;
  transform: scale(1.05);
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color2);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
 .button-container {
  display: flex;
  padding: 5px;
} 

.box {
  padding: 10px;
  width: 24%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  border-style: ridge;
  position: relative;
  background-color: var(--text-color);
  margin: 5px;
}

.box img {
  width: 100%;
  height: 100%;
}

.overlay {
  width: 100%;
  max-height: 70%;
  min-height: auto;
  position: absolute;
  bottom: -100%;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  left: 0;
  transition: 0.5s;
  background-color: var(--primary-color);
  color: var(--text-color);
  }

  .overlay h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .overlay h3 {
    font-size:16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--tertiary-color);
    overflow: hidden;
  }
  
  .overlay p {
    font-size: 14px;
  }
  .box span {
  color: var(--tertiary-color);
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  }
  
  .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  }
  
  .box:hover .overlay {
  bottom: 0%;
  }

  #search {
  width: 500px;
  padding: 5px 30px;
  background-color: var(--primary-color); 
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px var(--tertiary-color);
  color: var(--text-color);
  margin-top: 10px;
  font-size: 30px;
  border-radius: 25px;
  transition: 1s;
  margin-bottom: 15px;
  }
  
  #search:focus {
  background-color: var(--secondary-color);
  color: var(--focus-color);
  }

@media (max-width: 1024px) {
   h1 {
    font-size: 3rem;
  }
  #enter-button {
    font-size: 2rem;
  }  
   .box {
   padding: 10px;
   width: calc(25% - 10px);
   }
   .row {
   justify-content: flex-start;
   align-items: flex-start;
   }
  }
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  #enter-button {
    font-size: 2rem;
  }  
  .box {
    padding: 10px;
    width: calc(33.33% - 10px);
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background-color: var(--text-color);
    margin: 5px;
  }
  .row {
    justify-content: flex-start;
    align-items: flex-start;
   }
  .box{
    width: calc(50% - 10px);
    font-size:12px;
  }
  #search {
    width: 80%;
    font-size: 24px;
    padding: 8px 30px;
    border-radius: 20px;
  }
  .overlay h2 {
    font-size: 16px;
  }
  .overlay h3 {
    font-size:14px;
  }
  
  .overlay p {
    font-size: 12px;
  }
  .box span {
   font-size: 16px;
  }
}

@media (max-width: 480px) {
    h1 {
    font-size: 2.5rem;
    }
    #enter-button {
    font-size: 1.5rem;
    }
    button {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 15px;
    margin: 0 5px;
    }
    .box {
    width: 100%;
    flex-basis: 100%;
    height: 200px;
    margin-bottom: 1rem;
    }

    .box .overlay {
    padding: 15px;
    font-size: 12px;
    }
    .box span {
    font-size: 14px;
    }
    #search {
    width: 90%;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 15px;
    }
  }